


.well {
	background-image: image-url("purty_wood.png");
}

.form {
	margin-top: 1.5cm;
	margin-left: 1cm;
}
.calendar_form {
	margin-right: 1.5cm;
	margin-top: 1.5cm;
}

.reg_form {
	margin-top: 1.5cm;
}