body{color:#444444;font-family:arial,sans-serif;padding:0;margin:0}
p{font-size:13px;font-weight:normal;line-height:1.4em}
a{color:#245DC1;text-decoration:none;font-size:11px}
a:hover,a:visited,a:active{text-decoration:underline;}
#theme {position: fixed;top: 0;left: 0;background-attachment:fixed;background-repeat: no-repeat;width:100%;height:100%;-webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-size: cover;z-index:10;}
.theme{position:fixed;top: 0;left: 0;background-attachment:fixed;background-repeat: no-repeat;-webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-size: cover;width:100%;height:inherit}

/* LAYOUT */
.wrapper-in{width:980px;margin:0 auto}
#header-out{background:#141414;width:100%;height:40px;border-bottom:1px solid #1E1E1E;box-shadow:0 2px 4px #1E1E1E}
#header-in{padding:15px 0px 15px 125px;color:#FFFFFF;font-size:17px;font-weight:bold}
#header-in:hover{color:#FAFAFA;cursor:pointer}

#sub-header-out{background-color:rgba(40,40,40,0.7);width:100%;box-shadow:0 2px 4px #1E1E1E}
#sub-header-out-low{background-color:#E0E0E0;width:100%;box-shadow:0 2px 4px #1E1E1E;height:25px;}
#sub-header-in{padding:5px 15px 5px 15px;color:#AAAAAA;font-size:11px;}
#sub-header-in b{color:#D2D2D2}

#sub-header-in a:hover{cursor:pointer}

#menu-out{background-color:rgba(58,58,58,0.7);width:100%;}
#nav {width: auto;white-space:nowrap; margin:0;padding:0 0 0 0;list-style: none;position:relative; height:auto;z-index:100000;float:right}
#nav li {float: left;position:relative;vertical-align:middle;margin-right:5px}
#nav li a {display: block;padding: 20px 20px 20px 20px;text-decoration: none;font-weight: normal;color:#C8C8C8;text-decoration:none;font-size:13px ;font-weight:bold}
#nav li:hover a,#nav li:hover{background-color:rgba(20,20,20,0.3);color:#E6E6E6;text-decoration:none;cursor:pointer}
#nav li .active-main-menu{color: #F5F5F5;text-decoration: none;background-color:rgba(20,20,20,0.5);}

.boxw{background:#FFFFFF;padding:15px 10px 15px 10px}
.logo{margin:5px 0 5px 0}

.cl{clear:both}
.fl{float:left}
.fr{float:right}

#fade{padding:0;margin:0;overflow:hidden;position: fixed;top: 0;left: 0;width:100%;height:100%;}
#bg1{z-index:20;height:500px;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color:rgba(0,0,0,0.5);}
#bg2{z-index:20;height:500px;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background:url(/images/t1.png) repeat}

#login-box{overflow:hidden;width:640px;height:auto;border:5px solid rgb(69,69,69);margin:200px auto;z-index:30;padding:0;background-color:rgba(20,20,20,0.4);border-radius:10px;-webkit-box-shadow: 0 0 5px 1px #fff;-moz-box-shadow: 0 0 5px 1px #fff;box-shadow: 0 0 5px 1px #fff;}
#login-box:hover{border:5px solid rgb(88,88,88);background-color:rgba(20,20,20,0.6);-webkit-box-shadow: 0 0 5px 2px #fff;-moz-box-shadow: 0 0 5px 2px #fff;box-shadow: 0 0 5px 2px #fff;}
.lb{font-weight:bolder;color:#FFFFFF;background:#FFFFFF url(/images/blue.png) no-repeat}
.lb:hover{cursor:pointer;}
.tfuw{height:30px;width:225px;color:#444444;font-size:14px;border:1px solid #FFFFFF;padding:0 20px 0 5px;border-radius:4px;
background:#FFFFFF url(/images/username.png) no-repeat 220px 7px}
.tfup{height:30px;width:225px;color:#444444;font-size:14px;border:1px solid #FFFFFF;padding:0 20px 0 5px;border-radius:4px;
background:#FFFFFF url(/images/password.png) no-repeat 220px 7px}
.tfuw:hover,.tfup:hover{border:1px solid #A0A0A0;}
.tfuw:focus,.tfup:focus{border:1px solid #4D90FE;}
.white-link a{color:#fff !important}

.tw{color:#FFFFFF;font-size:14px}

.pad10{padding:10px}
.padT10{padding-top:10px}
.padL40{padding-left:40px}
.th35{font-size:45px;}
.t20{font-size:20px;background-color:#000000;color:#ffffff;}

.gray-bg{
background-color:#E0E0E0;
}

a.small-link{
font-size:11px;color:#000000;
}

a.purple-link{
font-size:12px;
color:#E0E0E0;
font-weight:bold;
background-color:#000000;
padding:5px 5px 5px 5px;
}
.red-text{color:#C42525;font-size:14px;}
.green-text{color:#008080;font-size:14px;}
.pink-text{color:#FF0099;font-size:16px;}

input.yellow-button{padding:5px 5px 5px 5px;font-size:12px;background-color:#FFD700;color:#444;border-radius:10px;-webkit-box-shadow: 0 0 5px 1px #fff;-moz-box-shadow: 0 0 5px 1px #fff;box-shadow: 0 0 5px 1px #fff;}

input.purple-button{
font-size:10px;
background-color:#6E3F9A;
color:#E0E0E0;
font-weight:bold;}

a.white-text,.white-text{color:#FFFFFF;}
input.white-button{color:#FFFFFF;
background:none;border:0;cursor:pointer;
font-size:40px;
font-weight:bold;}

.headlabel{font-size:40px ;font-weight:bold;color:#6E3F9A}

.g-table{border:1px solid #CDCDCD;margin-top:5px;margin-bottom:5px;border-right:0px;border-left:0px}


